<section>
	<h1>About EShopStyle</h1>

	<p>
		EShopeStyle is a web application developed with 
		<a href="https://angular.io" rel="noopener" rel="noreferrer" target="_blank">Angular</a> and 
		<a href="https://firebase.google.com" rel="noopener" rel="noreferrer" target="_blank">Firebase</a>
		by <a href="https://panesarpbx8.web.app" rel="noopener" rel="noreferrer" target="_blank">Sukhpreet Singh</a>.
	</p>

	<p>
		This is just a demonstration application to elaborate cart functionality and overall working <br>
		of an E-Commerce application. 
	</p>
</section>