.outlet {
	padding: .5rem 1rem;
	overflow-x: hidden;
}

.cookies {
	position: fixed;
	bottom: 0;
	background-color: var(--bg);
	left: 0;
	width: 100%;
	height: auto;
	padding: 2rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	box-shadow: 0 0 10px rgba(115, 125, 133, 0.226);

	button {
		padding: .5rem 1rem;
	}
}

@media screen and (min-width: 888px) {
	.outlet {
		padding: 0 1.5rem;
	}
}