<section><h1>Privacy Policy</h1>
	<h1>Collecting and Using Your Personal Data</h1>
	<p>While using Our Service, We may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. Personally identifiable information may include, but is not limited to:</p>
	<ul>
	<li>
	<p>Email address</p>
	</li>
	<li>
	<p>First name and last name</p>
	</li>
	</ul>
	<h2>Information from Third-Party Social Media Services</h2>
	<p>The Company allows You to create an account and log in to use the Service through the following Third-party Social Media Services:</p>
	<ul>
	<li>Google</li>
	</ul>
	<p>If You decide to register through or otherwise grant us access to a Third-Party Social Media Service, We may collect Personal data that is already associated with Your Third-Party Social Media Service's account, such as Your name, Your email address, Your activities or Your contact list associated with that account.</p>
	<p>You may also have the option of sharing additional information with the Company through Your Third-Party Social Media Service's account. If You choose to provide such information and Personal Data, during registration or otherwise, You are giving the Company permission to use, share, and store it in a manner consistent with this Privacy Policy.</p>
	<h2>Use of Your Personal Data</h2>
	<p>The Company may use Personal Data for the following purposes:</p>
	<ul>
	<li>
	<p><strong>To manage Your Account:</strong> to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.</p>
	</li>
	</ul>
	<h2>Security of Your Personal Data</h2>
	<p>The security of Your Personal Data is important to Us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your Personal Data, We cannot guarantee its absolute security.</p>
	<h1>Contact Us</h1>
	<p>If you have any questions about this Privacy Policy, You can contact us:</p>
	<ul>
	<li>By email: panesar.pb08@gmail.com</li>
	</ul>
</section>