<section>
	<div class="slide-container">
		<div class="text">
			<p>Welcome to EShopStyle</p>
		</div>
		<div class="slide">
			<img id="slide-image" alt="img">
		</div>
	</div>
	<div class="popular-women" *ngIf="popularWomenProduct$ | async as product">
		<div class="image {{ productService.getCategoryName(product.categoryId) }}">
			<img [src]="product.photoURL" [alt]="product.name">
		</div>
		<div class="info">
			<h1>{{ product.name }}</h1>
			<p>{{ product.description }}</p>
			<button routerLink="/collections/product/{{ product.id }}">SEE MORE &nbsp;></button>
		</div>
	</div>
	<div class="popular-men" *ngIf="popularMenProduct$ | async as product">
		<div class="info">
			<h1>{{ product.name }}</h1>
			<p>{{ product.description }}</p>
			<button routerLink="/collections/product/{{ product.id }}">SEE MORE &nbsp;></button>
		</div>
		<div class="image {{ productService.getCategoryName(product.categoryId) }}">
			<img [src]="product.photoURL" [alt]="product.name">
		</div>
	</div>
</section>