
.slide-container {
  position: relative;
  height: 400px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 90%;
    max-width: 700px;
    box-shadow: 0 0 5px rgba(106, 120, 124, 0.486);
    text-align: center;
    padding: 1rem 2rem;
    font-family: 'Lobster';
    font-size: 2.25rem;
    background-color: var(--bg);
    color: var(--theme);
    z-index: 3;
  }
  img {
    height: 100%;
    width: auto;
    margin: 0 auto; 
    user-select: none;
  }
}

.popular-women, .popular-men {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.popular-women {
  .image {
    order: 2;
  }
  .info {
    order: 1;
  }
}

.image {
  padding: .5rem;
  img {
    width: 100%;
    height: auto;
  }
}

.info {
  background-color: var(--theme);
  color: var(--bgv);
  padding: 1rem 2rem;
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    color: rgb(185, 196, 206);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  button {
    background-color: var(--bg);
    color: var(--theme);
    padding: 1rem 1.5rem;
    font-size: 1.1rem;

    &:hover {
      color: var(--bg);
      background-color: var(--theme);
      border: 2px solid var(--bg);
    }
  }
}

@media screen and (min-width: 888px) {
  .slide-container {
    height: 550px;

    .text {
      font-size: 3.5rem;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
  .popular-men, .popular-women {
    gap: 1.5rem;
  }
  .popular-women {
    grid-template-columns: 1fr 2fr;
    .image {
      order: 1;
    }
    .info {
      order: 2;
    }
  }
  .popular-men {
    grid-template-columns: 2fr 1fr;
  }
  .image {
    padding: 6rem;
  }
  .info {
    padding: 4rem 5rem;
    h1 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
  }
}
