<section>
	<div class="slide-container">
		<div class="carousel" aria-label="Gallery">
			<div id="display">
				<p class="title">Welcome to <span class="brand">EShopStyle</span></p>
			</div>
			<ol class="carousel__viewport">
				<li id="carousel__slide1"
						tabindex="0"
						class="center carousel__slide">
					<div class="carousel__snapper">
						<img src="assets/img/img3.jpg" alt="">
					</div>
				</li>
				<li id="carousel__slide2"
						tabindex="0"
						class="center carousel__slide">
					<div class="carousel__snapper"></div>
					<img src="assets/img/img1.jpg" alt="">
				</li>
				<li id="carousel__slide3"
						tabindex="0"
						class="center carousel__slide">
					<div class="carousel__snapper"></div>
					<img src="assets/img/img2.jpg" alt="">
				</li>
				<li id="carousel__slide4"
						tabindex="0"
						class="center carousel__slide">
					<div class="carousel__snapper"></div>
					<img src="assets/img/img4.jpg" alt="">
				</li>
			</ol>
		</div>
	</div>
</section>